html,body{
    margin: 0;
    padding: 0;
    font-family: 'Indie Flower', cursive;
    color: #541E2C;
    font-weight: bold;
    font-size: x-large;
}
.main{
    height: 93vh;
    width: 97vw;    
    padding: 20px;
    background-image: url("./images/bloom-blossom-cherry-blossoms-38910.jpg");
    background-size: cover;
    position: relative;
}
.topBarCls{
    width:100%;
    height: 20px;
    background-color: #AF5382
}
button{
    border-radius:4px;
    border:2px solid #541E2C;
    background-color: #AF5382;
    margin-left: 5px
}
.logo{
    background-image: url("./images/logo.PNG");
    background-size: cover;
    border-radius: 15px 50px 30px;
    width:100px;
    height: 100px;
    float: right;
    margin:30px;
}
.task{
    animation-name: fadeInOut;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
@keyframes fadeInOut {
    from { opacity: 0.3; }
    to   { opacity: 1; }
  }


